<div class="component-wrapper">
    <div class="top">
        <ul>
            <li><a routerLink="./about-banner" routerLinkActive="active">About Banner</a></li>
            <li><a routerLink="./about-gallery" routerLinkActive="active">About Gallery</a></li>
            <li><a routerLink="./about-detail" routerLinkActive="active">About Detail</a></li>
            <li><a routerLink="./about-list" routerLinkActive="active">About List</a></li>
        </ul>
    </div>

    <div class="bottom">
        <router-outlet></router-outlet>
    </div>
</div>