<div class="component-wrapper">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="logo_background">
        <mat-toolbar>
          <img class="logo" src="assets/images/TS-New-Logo-B.png" alt="">
        </mat-toolbar>
      </div>


      <mat-nav-list>
        <div *ngFor="let data of menus">
          <div class="nav-lists">
            <a mat-list-item [routerLink]="data.path" routerLinkActive="active-link">
              <img [src]="data.icons" class="icon-style">&nbsp;{{ data.name }}
            </a>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>