<div class="component-wrapper">
    <h1>Why Turbosteel Header Data</h1>

    <div class="details">
        <div class="content">
            <h2>Title</h2>
            <p>{{recipeData.title}}</p>
        </div>
        <hr>
        <hr>
        <div class="content">
            <h2>Url</h2>
            <p>{{recipeData.url}}</p>
        </div>
        <hr>
        <div class="content">
            <h2>Description</h2>
            <p>{{recipeData.description}}</p>
        </div>
    </div>
  </div>  