<div class="component-wrapper">
    <h1>View IndividualHouse</h1>
    <hr>
    <div class="details" *ngIf="companyListData">
        <div class="content">
            <p><strong>Name:</strong> {{companyListData.name}}</p>
        </div>
        <div class="content">
            <p><strong>Phone Number:</strong> {{companyListData.phone}}</p>
        </div>
        <div class="content">
            <p><strong>Professional:</strong> {{companyListData.professional}}</p>
        </div>
        <div class="content">
            <p><strong>Email:</strong> {{companyListData.email}}</p>
        </div>
        <div class="content">
            <p><strong>Subject:</strong> {{companyListData.subject}}</p>
        </div>
        <div class="content">
            <p><strong>Company Name:</strong> {{companyListData.companyName}}</p>
        </div>
        <div class="content">
            <p><strong>House Number:</strong> {{companyListData.houseNumber}}</p>
        </div>
        <div class="content">
            <p><strong>City:</strong> {{companyListData.city}}</p>
        </div>
        <div class="content">
            <p><strong>State:</strong> {{companyListData.state}}</p>
        </div>
        <div class="content">
            <p><strong>Pincode:</strong> {{companyListData.pincode}}</p>
        </div>
        <div class="content">
            <p><strong>Remarks:</strong> {{companyListData.remarks}}</p>
        </div>
    </div>
</div>
