<div class="component-wrapper">
    <div class="top">
        <h1>New Facilities Details</h1>
    </div>
    <form [formGroup]="aboutUsListForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Select Facilities Category</mat-label>
                <mat-select formControlName="facilities_url">
                    <mat-option *ngFor="let option of categoryData" [value]="option.url">
                        {{ option.url }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
        </div>
        <div>
            <editor formControlName="description" [apiKey]="apiKey" [init]="editorConfig"></editor>
        </div>
        <div class="image-upload-container">
            <label for="imageInput" class="upload-label">
                <mat-icon>cloud_upload</mat-icon>
                <span>Upload imageUrl</span>
            </label>
            <input type="file" id="imageInput" formControlName="imageUrl" (change)="onFileChange($event, 'imageUrl')"
                #fileInput hidden />
        </div>
        <img *ngIf="imageUrlPreview" [src]="imageUrlPreview" alt="Image Preview" style="max-width: 200px; margin-top: 10px;">
        <br><br>
        <div *ngIf="companyListData?.imageTwoUrl">
            <h1>imageUrl image</h1>
            <img src="{{companyListData?.imageUrl}}" />
        </div>




        <div class="image-upload-container">
            <label for="imageInputTwo" class="upload-label">
                <mat-icon>cloud_upload</mat-icon>
                <span>Upload imageUrl</span>
            </label>
            <input type="file" id="imageInputTwo" formControlName="imageTwoUrl" (change)="onFileChange($event, 'imageTwoUrl')"
                #fileInput hidden />
        </div>
        <img *ngIf="imageUrlPreviewTwo" [src]="imageUrlPreviewTwo" alt="Image Preview" style="max-width: 200px; margin-top: 10px;">
        <br><br>
        <div *ngIf="companyListData?.imageTwoUrl">
            <h1>imageUrl image</h1>
            <img src="{{companyListData?.imageTwoUrl}}" />
        </div>



        <button class="customButton" mat-raised-button type="submit">Submit</button>
    </form>

</div>