<div class="component-wrapper">
    <div class="top">
        <ul>
            <li><a routerLink="./banner" routerLinkActive="active">Banner</a></li>
            <li><a routerLink="./about-us" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="./product-list" routerLinkActive="active">Our Product List</a></li>
            <li><a routerLink="./techology-list" routerLinkActive="active">Technology</a></li>
            <li><a routerLink="./registration" routerLinkActive="active">Registration and Dealership</a></li>
            <li><a routerLink="./faq" routerLinkActive="active">Faq's</a></li>
            <li><a routerLink="./gallery" routerLinkActive="active">Gallery</a></li>
            <li><a routerLink="./news-letter" routerLinkActive="active">News letter</a></li>
            <li><a routerLink="./testimonials" routerLinkActive="active">Testimonials</a></li>
            <li><a routerLink="./footer" routerLinkActive="active">Footer</a></li>
            <li><a routerLink="./quick-links" routerLinkActive="active">Quick Links</a></li>
            <li><a routerLink="./address" routerLinkActive="active">Address</a></li>
            <li><a routerLink="./social-media" routerLinkActive="active">Social Media</a></li>
        </ul>
    </div>

    <div class="bottom">
        <router-outlet></router-outlet>
    </div>
</div>