<div class="component-wrapper">
    <div class="top">
        <h1>New Facilities Category</h1>
    </div>
    <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Header Description</mat-label>
                <input matInput type="text" formControlName="headerDescription">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Url</mat-label>
                <input matInput type="text" formControlName="url">
            </mat-form-field>
        </div>
        <button class="customButton" type="submit" mat-raised-button>Submit</button>
    </form>

</div>