<div class="component-wrapper">
    <div class="top">
        <ul>
            <li><a routerLink="./certification-banner" routerLinkActive="active">Certification Banner</a></li>
            <li><a routerLink="./certification-category" routerLinkActive="active">Certification Category</a></li>
            <li><a routerLink="./certification-detail" routerLinkActive="active">Certification Detail</a></li>
        </ul>
    </div>

    <div class="bottom">
        <router-outlet></router-outlet>
    </div>
</div>