<div class="component-wrapper">
    <div class="top">
        <h1>New Faqs</h1>
    </div>
    <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description">
            </mat-form-field>
        </div>
        <button class="customButton" type="submit" mat-raised-button>Submit</button>
    </form>
</div>