<div class="component-wrapper">
    <h1>Contact Detail List</h1>

    <div class="details" *ngIf="companyListData">
        <div class="content">
            <h2>Title</h2>
            <p>{{companyListData.title}}</p>
            <hr>
        </div>
        <div class="content" >
            <h2>List Title and Description</h2>
            <div *ngFor="let value of companyListData.lists">
                <p>Name: {{value.list_title}}</p>
                <p>Url: {{value.url}}</p>
            </div>
        </div>
        <div class="content" *ngIf="companyListData.imageUrl">
            <h2>Thummbnail</h2>
            <img src="{{companyListData.imageUrl}}" alt=" Image">
            <hr>
        </div>
    </div>
</div>