<div class="component-wrapper">
    <div class="top">
        <ul>
            <li><a routerLink="./indiviual-form-banner" routerLinkActive="active">Indiviual House Banner</a></li>
            <li><a routerLink="./architects-banner" routerLinkActive="active">Architects and Engineer Banner</a></li>
            <li><a routerLink="./dealership-banner" routerLinkActive="active">DealerShip Banner</a></li>
            <li><a routerLink="./masons-banner" routerLinkActive="active">Masons and Barbenders Banner</a></li>
        </ul>
    </div>

    <div class="bottom">
        <router-outlet></router-outlet>
    </div>
</div>