<div class="component-wrapper">
    <h1>View Architects Registration List</h1>
    <hr>
    <div class="details" *ngIf="companyListData">
        <div class="content">
            <p><strong>Name:</strong> {{ companyListData.name }}</p>
        </div>
        <div class="content">
            <p><strong>Phone Number:</strong> {{ companyListData.phone }}</p>
        </div>
        <div class="content">
            <p><strong>Profession:</strong> {{ companyListData.profession }}</p>
        </div>
        <div class="content">
            <p><strong>Date of Birth:</strong> {{ companyListData.dob | date: 'shortDate' }}</p>
        </div>
        <div class="content">
            <p><strong>Email:</strong> {{ companyListData.email }}</p>
        </div>
        <div class="content">
            <p><strong>Anniversary Date:</strong> {{ companyListData.anniversaryDate | date: 'shortDate' }}</p>
        </div>
        <div class="content">
            <p><strong>Company Name:</strong> {{ companyListData.companyName }}</p>
        </div>
        <div class="content">
            <p><strong>House Number:</strong> {{ companyListData.houseNumber }}</p>
        </div>
        <div class="content">
            <p><strong>City:</strong> {{ companyListData.city }}</p>
        </div>
        <div class="content">
            <p><strong>State:</strong> {{ companyListData.state }}</p>
        </div>
        <div class="content">
            <p><strong>Pincode:</strong> {{ companyListData.pincode }}</p>
        </div>
        <div class="content">
            <p><strong>Remarks:</strong> {{ companyListData.remarks }}</p>
        </div>
        <div class="content" *ngIf="companyListData.salesOfficer">
            <p><strong>Sales Officer Name:</strong> {{ companyListData.salesOfficer.name_of_sales }}</p>
            <p><strong>Sales Officer Place:</strong> {{ companyListData.salesOfficer.place }}</p>
        </div>
        <div class="content" *ngIf="companyListData.dealer">
            <p><strong>Dealer Name:</strong> {{ companyListData.dealer.name_of_dealer }}</p>
            <p><strong>Dealer Place:</strong> {{ companyListData.dealer.place }}</p>
        </div>

        <!-- Image Downloads -->
        <div class="content" *ngIf="companyListData.photograph">
            <p><strong>Photograph:</strong></p>
            <button (click)="downloadFile(companyListData.photograph)">Download Photograph</button>
        </div>
        <div class="content" *ngIf="companyListData.idProof">
            <p><strong>ID Proof:</strong></p>
            <button (click)="downloadFile(companyListData.idProof)">Download ID Proof</button>
        </div>
        <div class="content" *ngIf="companyListData.addressProof">
            <p><strong>Address Proof:</strong></p>
            <button (click)="downloadFile(companyListData.addressProof)">Download Address Proof</button>
        </div>
    </div>
</div>
