img{
    height: 200px;
}
h1 {
    padding-top: 3%;
    font-size: 22px;
    font-family: 'poppins' !important;
}

a{
    background-color: #ED3237;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}