<div class="component-wrapper">
    <div class="top">
        <h1>Distributors</h1>
        <div class="actions">
            <button class="customButton" mat-raised-button (click)="onClickAdd()">Add new distributors</button>
            <button class="customButton button2" mat-raised-button (click)="downloadCsv()">Download Csv</button>
            <div class="upload-container">
                <h2>Upload Distributors CSV</h2>
                
                <input type="file" (change)="onFileChange($event)" />
                <button (click)="uploadFile()">Upload</button>
                
                <div *ngIf="errorMessage" class="error-message">
                  <p>{{ errorMessage }}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="bottom">
        <table mat-table [dataSource]="banner">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>


            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="last-column" *matCellDef="let element">
                    <mat-icon class="small-icon" (click)="onClickView(element._id)">visibility</mat-icon>
                    <mat-icon class="small-icon" (click)="onClickEdit(element._id)">edit</mat-icon>
                    <mat-icon class="small-icon" (click)="onClickDelete(element._id)">delete</mat-icon>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>