<div class="main-container">
    <div class="container">
        <div class="content" routerLink="./header/about-header">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/Home.svg" alt="">Header</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./home/banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/Home.svg" alt="">Home Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./about/about-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/Home.svg" alt="">About Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./vision/vision-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Vision & Mission Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./chairman/chairman-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Chairman's Message Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./erm/erm-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Overview of Erm Group Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./csr/csr-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Csr Activities</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./media/media-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Media Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./product/product-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Product Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./facilities/facilities-category">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Facilities Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./certification/certification-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Certification Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./product-feature/product-feature-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Product Feature Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./turbosteel-advantage/turbosteel-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Turbo Steel Advantage Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./manufacture-process/mprocess-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Manufacture Process Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./inhouse/inhouse-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">In House Labouratory Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./cuttingedge/cuttingedge-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Cutting Edge Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./forms/indiviual-form-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Forms Banner Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./career/career-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Career Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./contact/contact-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Contact Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
    </div>
</div>