<div class="main-container">
    <div class="container">
        <div class="content" routerLink="./home/banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/Home.svg" alt="">Home Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./about/vision-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">About</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./contact/contact-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Contact</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
    </div>
</div>