.main-container{
    padding-top: 5%;
    background-color:#eaedf2 !important;
    height: 100%;
    border-radius: 60px;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80vh;
}
.content{
    width: 45%;
    box-shadow: 0px 2px 5px #a5a4a4;
    padding: 18px 12px;
    margin: 15px 10px;
    border-radius: 10px;
    background-color: #262B40;
    color: #FFFFFF;
}
.content:hover{
    box-shadow: 0px 2px 4px rgba(2, 106, 100, 1);
}
h4{   
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    img{
        margin-right: 10px;
    }
}
img{
    height: 30px;
}

mat-icon{
    margin: 0 0.5em;
}