<div class="main-container">
    <div class="container">
        <div class="content" routerLink="./home/banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/Home.svg" alt="">Home Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./vision/vision-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Vision & Mission Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./chairman/chairman-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Chairman's Message Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./erm/erm-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Overview of Erm Group Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./csr/csr-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Csr Activities</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./media/media-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Media Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
        <div class="content" routerLink="./contact/contact-banner">
            <h4>
                <a routerLinkActive="active"><img src="assets/images/icons/About Us.svg" alt="">Contact Page</a>
                <img src="assets/images/Group 73.svg" alt="arrow">
            </h4>
        </div>
    </div>
</div>