<div class="component-wrapper">
    <h1>Facilities Banner Data</h1>

    <div class="details">
        <div class="content">
            <h2>Title</h2>
            <p>{{recipeData.title}}</p>
        </div>
        <hr>
        <div class="content">
            <h2>Description</h2>
            <p>{{recipeData.description}}</p>
        </div>
        <hr>
        <div class="content">
            <h2>Url</h2>
            <p>{{recipeData.facilities_url}}</p>
        </div>
        <hr>
        <div class="content">
            <h2> Image</h2>
            <img src="{{recipeData.imageUrl}}" alt=" Image">
        </div>
    </div>
  </div>  
  