<div class="component-wrapper">
    <div class="top">
        <h1>Contact Banner</h1>
        <div class="actions">
            <button class="customButton" mat-raised-button (click)="onClickAdd()">Add new banner</button>
        </div>
    </div>
    <div class="bottom">
        <table mat-table [dataSource]="banner">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="last-column" *matCellDef="let element">
                    <mat-icon class="small-icon" (click)="onClickView(element._id)">visibility</mat-icon>
                    <mat-icon class="small-icon" (click)="onClickEdit(element._id)">edit</mat-icon>
                    <mat-icon class="small-icon"  (click)="onClickDelete(element._id)">delete</mat-icon>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>